h2{
    text-align: center;
}

#canvas {
    border : 2px solid black;
    width: 1200px;
    height : 600px;
    margin : 0 auto;
    display: block;
    position: relative;
}

.character img{
    height: 40px;
    width:  30px;
    position: absolute;
    bottom: 0;
}

.bandi img {
    right: 0;
}

.bringBottom {
    bottom: 0;
}

/* #canvas {
    border: 1px solid #d3d3d3;
    background-color: #f1f1f1;
    width: 90vw;
    height: 90vh;
  } */